In [12]:
import pandas as pd
data = pd.read_csv("C:\\Users\\AakashSingh\\Desktop\\Assignment5.csv",names=['Manager','Employee'])
print(data)
record = {data.iloc[i,0]:data.iloc[i,1] for i in range (len(data))}
print (record)

  Manager Employee
0     Ram    Shyam
1   Shyam    Harry
2   Harry     Lucy
3    Lucy     Shiv
4    Shiv     Shiv
5    Jake     Hana
6    Hana    Beast
7   Beast    Beast
8   Shady    Shady
9     Nox      Nox
{'Ram': 'Shyam', 'Shyam': 'Harry', 'Harry': 'Lucy', 'Lucy': 'Shiv', 'Shiv': 'Shiv', 'Jake': 'Hana', 'Hana': 'Beast', 'Beast': 'Beast', 'Shady': 'Shady', 'Nox': 'Nox'}

In [25]:
final = []
for key in record:
    list1 = []
    list1.append(key)
    
    x = record[key]
    
    while x != record[x]:
        x = record[x]
        list1.append(x)
        print(list1)
    set(list1)
    final.append(list1)
#print(final)

['Ram', 'Harry']
['Ram', 'Harry', 'Lucy']
['Ram', 'Harry', 'Lucy', 'Shiv']
['Shyam', 'Lucy']
['Shyam', 'Lucy', 'Shiv']
['Harry', 'Shiv']
['Jake', 'Beast']
[['Ram', 'Harry', 'Lucy', 'Shiv'], ['Shyam', 'Lucy', 'Shiv'], ['Harry', 'Shiv'], ['Lucy'], ['Shiv'], ['Jake', 'Beast'], ['Hana'], ['Beast'], ['Shady'], ['Nox']]

In [21]:
final_ans = pd.DataFrame(final)
final_ans

       0      1      2     3     4
0    Ram  Shyam  Harry  Lucy  Shiv
1  Shyam  Harry   Lucy  Shiv  None
2  Harry   Lucy   Shiv  None  None
3   Lucy   Shiv   None  None  None
4   Shiv   Shiv   None  None  None
5   Jake   Hana  Beast  None  None
6   Hana  Beast   None  None  None
7  Beast  Beast   None  None  None
8  Shady  Shady   None  None  None
9    Nox    Nox   None  None  None